@page "/UserPanel/ChangePassword"
@inject AccountAPIService AccountAPIService
<PageTitle>StarWall - Userpanel</PageTitle>
<EditForm Model="ResetPasswordDTO" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="container mt-2 mb-3">
        <div class="row p-2 bg-dark rounded d-flex justify-content-center  py-5">
            @if (isSuccess)
            {
                <div class="text-center mt-2">
                    <div class="alert alert-success">
                        <b>Your password was changed successfully!</b>
                        <a href="/login">Click Here to Login Your Account</a>
                    </div>
                </div>
            }
            <h4 class="mb-3" style="color: rgb(77, 206, 211); text-align: center;"><b>Reset Password</b></h4>

            <div class="col-md-7 p-2">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <InputText style="text-align:center;" type="password" placeholder="Current Password"
                            class="form-control" @bind-Value="@ResetPasswordDTO.CurrentPassword" />
                        <ValidationMessage For="@(() => ResetPasswordDTO.CurrentPassword)" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-md-7 p-2">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <InputText style="text-align:center;" type="password" placeholder="New Password"
                            class="form-control" @bind-Value="@ResetPasswordDTO.NewPassword" />
                        <ValidationMessage For="@(() => ResetPasswordDTO.NewPassword)" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-md-7 p-2">
                <div class="row">
                    <div class="col-md-12 p-1">
                        <InputText style="text-align:center;" type="password" placeholder="Confirm New Password"
                            class="form-control" @bind-Value="@ResetPasswordDTO.ReNewPassword" />
                        <ValidationMessage For="@(() => ResetPasswordDTO.ReNewPassword)" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-md-7 p-2">
                <div class="row">
                    <div class="col-md-6 p-1">
                        <a href="/UserPanel" class="btn btn-secondary form-control"><i class="fa fa-arrow-left"
                                aria-hidden="true"></i> back</a>
                    </div>
                    <div class="col-md-6 p-1">
                        <button class="btn btn-success form-control" type="submit"><i class="fa fa-save"></i>
                            Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private bool isSuccess = false;
    private ResetPasswordDTOInUserPanel ResetPasswordDTO = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var token = await AuthStateHandler.CheckAuthorizationNormalUser();
    }

    private async Task HandleValidSubmit()
    {
        isSuccess = await AccountAPIService.ResetPasswordFromUserPanel(ResetPasswordDTO);
    }
}
